body {
  background-color: rgb(80, 89, 218);
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  height: 100vh;
  position: relative;
}

p {
  color: aliceblue;
}

.sidebar {
  width: 9%;
  min-width: 60px;
  background-color: rgb(63, 73, 204);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-icon {
  margin: 10px 0;
  text-align: center;
}

.group-icon img {
  border-radius: 100%;
  width: 50px;
  height: 50px;
}

.group-icon p {
  color: aliceblue;
  font-size: 70%;
  white-space: nowrap;
}

.main-content {
  min-width: 350px;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.search-bar {
  background-color: rgb(63, 73, 204);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.search-bar input {
  border: none;
  outline: none;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
}

.prechat-list {
  width: 100%;
  height: 100%;
  background-color: rgb(63, 73, 204);
  border-radius: 10px;
  padding: 10px;
  overflow-y: auto;
  margin-right: 20px;
}

.prechat-item {
  min-height: 50px;
  max-height: 85px;
  background-color: rgb(89, 80, 255);
  padding: 10px;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.prechat-item img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 7%;
}

.prechat-item div {
  flex: 1;
}
.top-message-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.prechat-item .name {
  font-weight: bold;
  margin-right: 10px;
}
.prechat-item .time {
  margin-left: auto;
  font-size: 7pt;
  text-align: center;
}

.prechat-item .message {
  font-size: 0.9em;
  color: aliceblue;
}

.messages {
  flex: 1;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
}

.chat-content {
  width: 61%;
}
.alignClass {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#emptyLink {
  text-align: center;
  border-radius: 20px;
  min-width: 300px;
  width: 20%;
  padding: 20px;
  background-color: rgb(63, 73, 204);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 250px;
  width: 25%;
  height: 100%;
  background-color: rgb(63, 73, 204);
  color: aliceblue;
  padding: 10px;
  display: none;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  border-radius: 0 15px 15px 0;
}

.menu.show {
  display: flex;
}

.menu-avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  font-size: 0.7em;
}

.menu-avatar img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.menu-avatar .nickname {
  margin-top: 10px;
  font-weight: bold;
}

.menu-item {
  display: flex;
  width: 100%;
  align-items: center;
  background-color: rgb(44, 53, 169);
  color: black;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 0.9em;
}

.menu-item img {
  width: 35px;
  height: 35px;
  margin-right: 20%;
}

.menu-item p {
  margin: 0;
}
.menu_button {
  cursor: context-menu;
}

.roomName {
  margin: 0px;
  margin-bottom: 10px;
  padding: 0px;
}

/*
Line
*/
.vertical-line {
  position: absolute;
  top: 0;
  left: calc(37.5%);
  width: 2px;
  height: 100%;
  background-color: rgb(30, 38, 152); /* Adjust color as needed */
}
